@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cinzel&family=Lexend+Peta:wght@100&display=swap');

*{
    margin: 0%;
    padding: 0%;
    border: none;
}

body{


    background-image: url(../images/jeans.jpg) 100%;
    background-repeat: no-repeat;
    font-family: lexend peta, sans-serif;
    font-weight:100;
    color: #000000;

}
h1, h2{
    font-family: lexend peta, sans-serif;
    letter-spacing: 2px;
    color: #000000;

}

#logo{
    color: #ffffff;
    float: left;
    font-size: 250%;
    font-weight:lighter;

    margin-left: 20px;
}



/* navigation */

#nav-border{
    height: 75px;
    width: 100%;
    background-color: #000000;
}

#menu{
    font-size: 110%;
    letter-spacing: 2px;
    float: right;
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    float: left;
    list-style: none;
    padding-right: 30px;
    color:#ffffff;

}

#menu a{
    text-decoration: none;
    color:inherit;
}

#menu a:hover{
    border-bottom: 1px solid #c3faff;
}

.active{
    border-bottom: 1px solid #92f1fa;
}

/* hero image */

#hero-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2{
    color: #000000
}

#hero-image{
    height: 300px;
    width: 100%;
    background: url("../images/BACKGROUND2.png") no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}


@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text{
    font-size: 130%;
    font-family: abel;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 450px;
    height: 100px;

    padding-top: 20px;
    padding-left: 10px;
    background-color: rgb(64, 64, 64, .85);

    bottom: 30px;
    right: 150px;
    position: absolute;

}

/*about*/

#about{
    height: 600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue;
}

#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: green;
}

#center-about{
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    background-color: indianred;
}

/*footer*/

footer{
    height: 150px;
    
}

.media-links{
    text-align: center;
}

.media-links > li{
    display: inline;
}

.media-links a i:hover
{
    transform: scale(1.5);
    
}

.media-links i{
    font-size:  160%;
    margin: 1%;
    padding: 5%;
    color:#000000
}