@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cinzel&family=Lexend+Peta:wght@100&display=swap');

*{
    margin: 0%;
    padding: 0%;
    border: none;
}

body{


    background-image: url(../images/jeans.jpg) 100%;
    background-repeat: no-repeat;
    font-family: lexend peta, sans-serif;
    font-weight:100;
    color: #ffffff;

}
h1, h2{
    font-family: lexend peta, sans-serif;
    letter-spacing: 2px;
    color: #ffffff;

}

#logo{
    float: left;
    font-size: 250%;
    font-weight:lighter;

    margin-left: 20px;
}

/* navigation */

#nav-border{
    height: 75px;
    width: 100%;
    background-color: #000000;
}

#menu{
    font-size: 150%;
    letter-spacing: 2px;
    float: right;
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    float: left;
    list-style: none;
    padding-right: 20px;

}

#menu a{
    text-decoration: none;
    color:inherit;
}

#menu a:hover{
    border-bottom: 1px solid #c3faff;
}

.active{
    border-bottom: 1px solid #92f1fa;
}

/* hero image */

.center-fit{
    display: grid;
    height: 300px;

}

.hero-image{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;




}

